 .u-section-1 {
  background-image: url("images/sunset-in-the-ocean-fantasy_3840x2160_xtrafondos.com.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-slider-1 {
  min-height: 398px;
  width: 705px;
  margin: 370px auto 50px 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: 32px;
  height: 10px;
  top: auto;
  left: 64px;
  right: auto;
  bottom: 37px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 65px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 65px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
}

.u-section-1 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-1 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: 196px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
    margin-top: 167px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    inset: auto auto 31px 0px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 65.32% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
    margin-top: 110px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    inset: auto auto 25px 0px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1359px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 19px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 18px) calc(33.3333% - 18px) calc(33.3333% - 18px);
  min-height: 1085px;
  grid-gap: 27px 27px;
}

.u-section-2 .u-image-1 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
  background-image: url("images/dollars.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px 30px 30px;
}

.u-section-2 .u-image-2 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
  background-image: url("images/bugs_bunny.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 30px 30px;
}

.u-section-2 .u-image-3 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
  background-image: url("images/cr7.jpg");
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 30px 30px;
}

.u-section-2 .u-image-4 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
  background-image: url("images/emojis.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 30px 30px;
}

.u-section-2 .u-image-5 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
  background-image: url("images/cr72.jpg");
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 30px 30px;
}

.u-section-2 .u-image-6 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
  background-image: url("images/facebook.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 30px 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 894px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1541px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1682px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1406px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3334px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 638px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 638px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-line-1 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 87px;
  height: 7px;
  margin: 136px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 35px 0 0;
}

.u-section-3 .u-line-2 {
  transform-origin: left center 0px;
  border-style: solid;
  width: 87px;
  position: absolute;
  top: 450px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 638px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 516px;
  height: 507px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 568px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    height: 508px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 22px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 435px;
  }

  .u-section-3 .u-image-1 {
    height: 373px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 586px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    height: 527px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 20px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-image-1 {
    height: 324px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 962px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 63px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: 36px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 600px;
  grid-gap: 0px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/CristianoRonaldo_xtrafondos.com1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-4 .u-group-1 {
  min-height: 218px;
  margin-bottom: 0;
  margin-top: 0;
  background-image: linear-gradient(var(--custom-color-1), var(--custom-color-2));
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-1 {
  width: 81px;
  height: 3px;
  transform-origin: right center;
  border-style: dotted;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 21px 20px 0 0;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/cr7-14.jpg");
  background-size: cover, cover;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-4 .u-group-2 {
  min-height: 218px;
  margin-bottom: 0;
  margin-top: 0;
  background-image: linear-gradient(var(--custom-color-1), var(--custom-color-2));
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-2 {
  width: 81px;
  height: 3px;
  transform-origin: right center;
  border-style: dotted;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 21px 20px 0 0;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/cr71.jpg");
  background-size: cover, cover;
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-4 .u-group-3 {
  min-height: 218px;
  margin-bottom: 0;
  margin-top: 0;
  background-image: linear-gradient(var(--custom-color-1), var(--custom-color-2));
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-line-3 {
  width: 81px;
  height: 3px;
  transform-origin: right center;
  border-style: dotted;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-7 {
  margin: 21px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 854px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 495px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1137px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 676px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 401px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 30px 10px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 0 0 auto;
}

.u-section-5 .u-text-2 {
  line-height: 1.6;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  font-weight: 700;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-5 .u-image-1 {
  min-height: 305px;
  background-image: url("images/bg3-min.jpg");
}

.u-section-5 .u-container-layout-2 {
  padding: 5px 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 200px;
}

.u-section-5 .u-container-layout-3 {
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.1);
  padding: 18px 20px;
}

.u-section-5 .u-text-4 {
  line-height: 2;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-5 .u-image-1 {
    min-height: 251px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 192px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-text-4 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-5 .u-image-1 {
    min-height: 181px;
  }
}